COMPOSE_PROJECT_NAME=northwind_realtime

SQLSERVER_PORT=31433
MSSQL_SA_PASSWORD=ChangeMe_SQL_Strong_Password

POSTGRES_PORT=35432
POSTGRES_DB=northwind_staging
POSTGRES_USER=northwind
POSTGRES_PASSWORD=ChangeMe_Postgres_Strong_Password

CLICKHOUSE_HTTP_PORT=38123
CLICKHOUSE_NATIVE_PORT=39000
CLICKHOUSE_DB=northwind_dw
CLICKHOUSE_USER=northwind
CLICKHOUSE_PASSWORD=ChangeMe_ClickHouse_Strong_Password
