.env
*.log
*.bak
*.bacpac
*.rar
*.zip

__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

.vscode/
.idea/
.DS_Store

data/backups/*
logs/
tmp/

airflow/logs/
airflow/plugins/__pycache__/

spark/checkpoints/
spark/warehouse/

grafana/data/
airflow/**/__pycache__/
